.loginWarp{
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  .login{
    width: 430px;
    height: 461px;
    background-color: rgba($color: #000000, $alpha: .3);
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .title, .userName, .passWorld, .button{
      width: 350px;
      height: 45px;
    }
    .title{
      border-bottom: 1px solid #BFC5CA;
      font-size: 20px;
      color: #48A0CF;
      text-align: left;
      line-height: 50px;
    }
    .userName{

    }
    .button{
      font-size: 17px;
      background-image: linear-gradient( to right ,#69E4CC, #8C9CE1);
      border: 0px;
      border-radius: 8px ;
    }
  }
  .loginORregister{
    color: white;
  }
  .ant-form-item-required{
    width: 4vw;
    color: white;
  }
}